


.index .gasStation{
    margin: 20px;
    font-family: monospace;
}

.index .gasStation .gasName{
    background-color: lightgreen;
}

    .index .gasStation .gasCoordinates {
        display: flex;
        justify-content: center;
    }

    .index .gasStation .gasCoordinates div {
        padding-right: 30px;
    }
